<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
    <link rel="stylesheet" href="./css/exer.css">
</head>

<body>
    <div class="maincontainer">
        {{>navbar}}

        <div class="maindiv2">
            <div class="containerserE" id="exer">

            </div>
        </div>


        {{>footer}}
    </div>
    <script src="./jsfile/exerc.js"></script>
</body>

</html>