<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Programs</title>
    <link rel="stylesheet" href="./css/HelthCha.css">
</head>
<body>
    <header>
        <h1>Health Programs</h1>
    </header>
    <div class="container" id="programsContainer">
        <!-- Health programs will be displayed here -->
    </div>
    <script src="./jsfile/Helthch.js"></script>
</body>
</html>