<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link rel="stylesheet" href="./css/style2.css">
<div class="container2">
    <div class="footcontainer">
        <div class="footerdata">
            <div class="boxf">
                <h3>Hospital Management System</h3>
                <a href="/">
                    <img src="./img/pngg.png" alt="">
                </a>
                <h3>Mb: 9026323602</h3>
            </div>
            <div class="boxf">
                <h3>Follow Us</h3>
                <div class="sm">
                    <div><a href="https://www.linkedin.com/in/rishabh-upadhyay-869b6a229/" target="_blank"><i
                                class='bx bxl-linkedin'></i></a></div>
                    <div><a href="https://www.facebook.com/profile.php?id=100075830712695" target="_blank"><i
                                class='bx bxl-facebook'></i></a></div>
                    <div><a href="https://www.instagram.com/rishabhupadhyay9999/" target="_blank"><i
                                class='bx bxl-instagram'></i></a></div>
                    <div><a href="https://twitter.com/Rishabh63504241" target="_blank"><i
                                class='bx bxl-twitter'></i></a></div>
                </div>
                
                <h3>ru33653@gmail.com</h3>
            </div>
            <div class="boxf">
                <div>Support us</div>
                <div><button style="width: 140px;" id="CCCC"><a href="/job">View Job</a></button></div>
            </div>
            <div class="boxf">
                <h3>Some services</h3>
                <a class="bff" href="/article"><div>Articles</div></a>
                <a class="bff" href="/register"><div>NewAccount</div></a>
                <a class="bff" href="/contact"><div>ContactUs</div></a>
                <a class="bff" href="/services"><div>Services</div></a>
                <a class="bff" href="/About"><div>AboutUS</div></a>
            </div>
            <div class="boxf">
                <h2>Some More</h2>
                <div id="f5">
                    {{!-- <div> --}}
                        {{!-- <div>Rishabh</div>
                        <div>Rishabh</div>
                        <div>Rishabh</div>
                        <div>Rishabh</div>
                        <div>Rishabh</div> --}}
                    {{!-- </div> --}}
                    <div>
                        <div><button style="width: 140px;"><a href="/logout" class="BBBB">
                                    <div><span class="material-symbols-outlined">
                                            logout
                                        </span></div>
                                
                                <div>logout</div></a></button></div>
                        <div>
                            <button style="width: 140px;" >
                                <a href="/logouteverywhere"  class="BBBB">
                                    <div>
                                        <span class="material-symbols-outlined">
                                            move_item
                                        </span>
                                    </div>
                                
                                <div>everywhere</div></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>