* {
    margin: 0;
    padding: 0;
}

.containerserE {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 90%;
    margin: auto;
}
@media only screen and (max-width: 700px) {
    .containerserE {
        display: grid;
        grid-template-columns: repeat(1, auto);
        width: 90%;
        margin: auto;
    }
}

.containerserE .boxserE {
    border: 1px dashed blueviolet;
    margin: 4px 4px;
    padding: 5px;
    border-radius: 10px;
}

.containerserE .boxserE img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: block; 
    margin: auto;
}


.containerserE h2{
    font-size: 30px;
    color: #837491;
    font-weight: bolder;
    margin: auto;
}

.containerserE h3{
    margin: auto;
    color: #837491;
    font-weight: bold;
}
.boxserE p{
    margin: auto;
    font-size: 16px;
    color: #1a2760c2;
    font-weight: bold;
}
.boxserE span{
    margin: auto;
    font-size: 20px;
    color: #1a2760c2;
}